@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap");

:root {
  --perple: #5538c2;
  --violet: #9276f4;
  --white: #ffffff;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  color: #111111;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: var(--perple);
  z-index: 100;
  font-family: "Nanum Myeongjo", serif;
  font-size: 20px;
  font-weight: 400;
}

.logo {
  padding-left: 50px;
}

.logo img {
  width: 100px;
  height: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.nav li {
  padding: 50px 30px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  background: var(--white);
}

.sec_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.list_title h3 {
  font-size: 50px;
  font-weight: 900;
  color: var(--perple);
  font-family: "Nanum Myeongjo", serif;
  margin-bottom: 10px;
}

.list_title h4 {
  font-size: 20px;
  font-weight: 900;
  color: #111111;
}

.sec_text a {
  color: var(--violet);
  font-size: 18px;
  font-weight: 900;
}

/* slider */
.slider {
  margin: 0 auto;
  width: 100%;
  height: 800px;
  background: #ffffff;
  position: relative;
  overflow: hidden;
}

.slider img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider h2 {
  position: absolute;
  top: 30%;
  right: 5%;
  font-size: 80px;
  text-align: right;
  font-weight: 900;
  color: var(--white);
  font-family: "Nanum Myeongjo", serif;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.slider h2 span {
  color: var(--white);
  font-size: 100px;
}

/* section */
.main_bg {
  background: url(../images/home_pattern.svg);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
}

.section {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

/* sec-01 */

.sec_01 {
  height: 885px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 130px;
  flex-direction: initial;
}

.sec_01 h3 {
  font-size: 40px;
  text-align: center;
  line-height: 2;
  font-weight: 700;
}

/* sec-02 */

.sec_02 .list_title {
  margin-bottom: 50px;
}

.sec_02 .interview {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sec_02 .interview > li {
  width: 500px;
  height: 300px;
  display: flex;
  margin-bottom: 60px;
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.sec_02 .photo {
  z-index: 100;
  position: relative;
}

.sec_02 .photo img {
  display: block;
  width: 200px;
  height: 300px;
}

.sec_02 .dimm {
  position: absolute;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  font-size: 20px;
  font-weight: 800;
  color: #bbbbbb;
  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
}

.sec_02 .dimm:hover {
  opacity: 1;
}

.sec_02 .inter_text {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  position: relative;
  top: 0;
  left: -500px;
  background: #f4e9ff;
  transition: all 0.3s;
  border-radius: 0 10px 10px 0;
}

.sec_02 .inter_text.active {
  left: 0;
}

.sec_02 .inter_title {
  font-size: 18px;
  color: var(--violet);
}
.sec_02 .inter_name {
  font-size: 24px;
  margin: 10px 0 20px;
}

.sec_02 .inter_extra {
  font-size: 30px;
  width: 280px;
  margin-bottom: 20px;
}

.sec_02 .inter_btn {
  display: block;
  width: 220px;
  height: 48px;
  font-size: 18px;
  border: initial;
  background: var(--violet);
  color: var(--white);
  border-radius: 10px;
  text-align: center;
  margin-left: 30px;
  line-height: 46px;
}

/* banner_01 */
.banner_01 {
  cursor: pointer;
  margin-top: -87px;
}

.banner_01 img {
  display: block;
  width: 100%;
}

/* sec_03 */

.sec_03 > ul,
.sec_04 > ul,
.sec_05 > ul {
  display: flex;
  justify-content: space-between;
}

.section img {
  width: 340px;
  height: 480px;
}

.sec_03 > ul > li {
  position: relative;
}

.img_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.2s;
}

.img_hover:hover {
  opacity: 1;
}

.img_hover h4 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.img_hover p {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
}

/* sec_04 */

/* sec_05 */

/* banner_02 */
.banner_02 {
  cursor: pointer;
  margin: -83px 0 -83px;
}

.banner_02 img {
  width: 100%;
}

/* sec_06 */
.sec_06 {
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sec_06 .campain {
  display: flex;
  text-align: center;
  justify-content: center;
}

.sec_06 .campain img {
  width: 100%;
  height: 100%;
}

.sec_06 .campain .left_img,
.sec_06 .campain .right_img {
  width: 268px;
  height: 423px;
}

.sec_06 .campain .left_img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.sec_06 .campain .right_img {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.sec_06 .campain .campain_text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 930px;
  height: 414px;
  background: #ffe4e4;
  font-size: 54px;
  line-height: 2;
  font-family: "Nanum Myeongjo", serif;
}

.sec_06 .campain .campain_text .text_bold {
  font-weight: 800;
}

.sec_06 .campain .campain_text .red {
  color: red;
  font-weight: 800;
}

.banner_03 {
  margin-top: -132px;
}

.banner_03 img {
  width: 100%;
}

/* movie_list */
.mv_list_bg {
  background: url(../images/film_pattern.svg);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
}

.mv_list h3 {
  margin: 200px 0;
  font-size: 50px;
  font-weight: 900;
  color: var(--perple);
  font-family: "Nanum Myeongjo", serif;
}

.mv_list {
  padding: 0 30px;
  box-sizing: border-box;
}

.mv_list ul {
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.poster_list .poster {
  width: 400px;
  height: 566px;
  position: relative;
}

.poster_list .poster img {
  width: 100%;
  height: 100%;
}
.poster_list .mv_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 272px;
  height: 350px;
  background: #9276f4;
  padding: 10px 10px 20px;
  box-sizing: border-box;
}

.mv_text h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.mv_text p {
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 1.2;
}

.mv_btn {
  display: block;
  border: none;
  outline: none;
  background: var(--white);
  cursor: pointer;
  font-size: 8px;
  width: 120px;
  height: 40px;
  line-height: 1;
  border-radius: 20px;
  color: var(--perple);
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.mv_btn .bold {
  font-weight: 700;
  font-size: 20px;
}

/* login */
.section_login {
  width: 100%;
  height: 86.5vh;
  background: var(--white);
}

.section_login {
  background-image: url(../images/login_bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_login h2 {
  font-size: 50px;
  font-weight: 800;
  color: var(--perple);
  margin: 50px 0 50px;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Gothic", sans-serif;
}
.login_id,
.login_pw {
  width: 400px;
  padding: 24px 0 24px 30px;
  margin: 20px 0;
  background: var(--violet);
  border-radius: 5px;
  color: #ffffff;
  box-sizing: border-box;
}

.login_id::placeholder,
.login_pw::placeholder {
  color: #b89fff;
  font-size: 16px;
}

.login_bottom {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login_extra {
  display: flex;
  flex-direction: column;
  color: var(--violet);
  line-height: 1.4;
}
.login_bold {
  font-weight: 900;
}

.login_btn {
  width: 120px;
  height: 50px;
  border: 1px solid var(--violet);
  background: var(--white);
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: var(--violet);
}

/* footer */

.footer {
  background: var(--perple);
}
.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .logo {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 18px;
  color: var(--violet);
  font-weight: 900;
  z-index: 100;
}

.footer .sns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--perple);
  font-size: 30px;
  box-sizing: border-box;
}

.footer .sns li {
  width: 40px;
  height: 40px;
  background: var(--white);
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  margin: 100px 15px;
  box-sizing: border-box;
}

.copyright {
  color: var(--white);
  font-size: 12px;
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
  box-sizing: border-box;
}
