@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap");

:root {
  --perple: #5538c2;
  --violet: #9276f4;
  --white: #ffffff;
  --yellow: #fff9c4;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  color: #111111;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: var(--perple);
}

.logo {
  padding-left: 50px;
}

.logo img {
  width: 100px;
  height: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav li {
}

.nav a {
  position: relative;
  display: block;
  font-family: "Nanum Myeongjo", serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--white);
  width: 80px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  cursor: pointer;
}

.nav a.on {
  font-weight: 800;
}

.nav a.on::after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background: var(--white);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  background: var(--white);
}

.sec_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.list_title h3 {
  font-size: 50px;
  font-weight: 900;
  color: var(--perple);
  font-family: "Nanum Myeongjo", serif;
  margin-bottom: 10px;
}

.list_title h4 {
  font-size: 20px;
  font-weight: 900;
  color: #111111;
}

.sec_text a {
  color: var(--violet);
  font-size: 18px;
  font-weight: 900;
}

/* slider */
.slider {
  height: 800px;
  margin: 0 auto;
  background: #ffffff;
  position: relative;
  font-size: 80px;
  text-align: right;
  font-weight: 900;
  color: var(--white);
  font-family: "Nanum Myeongjo", serif;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.slide {
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider h2 {
  position: absolute;
  top: 30%;
  right: 5%;

  opacity: 0;
  animation: scale 0.5s forwards;
}

.slider h2 span {
  color: var(--white);
  font-size: 100px;
  animation: womanDirecter 0.3s 1s forwards;
}

/* section */
.main_bg {
  position: relative;
}

.main_bg::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url(../images/home_pattern.svg);
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1000;
  opacity: 0.5;
}

.section {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

/* sec-01 */

.sec_01 {
  height: 885px;
  flex-direction: initial;
}

.section_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_card .woman_icon {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: var(--yellow);
  overflow: hidden;
  margin-right: 50px;
}

.section_card .woman_icon img {
  display: block;
  width: 100%;
  height: 100%;
}

.sec_01 h3 {
  font-size: 40px;
  text-align: center;
  line-height: 2;
  font-weight: 700;
}

/* sec-02 */

.sec_02 .list_title {
  margin-bottom: 50px;
}

.sec_02 .interview {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sec_02 .interview > li {
  width: 500px;
  height: 300px;
  display: flex;
  margin-bottom: 60px;
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.sec_02 .photo {
  z-index: 1;
  position: relative;
}

.sec_02 .photo img {
  display: block;
  width: 200px;
  height: 300px;
}

.sec_02 .dimm {
  position: absolute;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  font-size: 20px;
  font-weight: 800;
  color: #bbbbbb;
  opacity: 0;
  transition: all 0.2s;
  cursor: pointer;
}

.sec_02 .dimm:hover {
  opacity: 1;
}

.sec_02 .inter_text {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  position: relative;
  top: 0;
  left: -500px;
  background: var(--yellow);
  transition: all 0.3s;
  border-radius: 0 10px 10px 0;
}

.sec_02 .inter_text.active {
  left: 0;
}

.sec_02 .inter_title {
  font-size: 16px;
  color: #81760c;
  font-weight: 700;
}
.sec_02 .inter_name {
  font-size: 24px;
  margin: 10px 0 20px;
}

.sec_02 .inter_extra {
  font-size: 30px;
  width: 280px;
  margin-bottom: 20px;
}

.sec_02 .inter_btn {
  display: block;
  width: 220px;
  height: 48px;
  font-size: 18px;
  border: initial;
  background: var(--violet);
  color: var(--white);
  border-radius: 10px;
  text-align: center;
  margin-left: 30px;
  line-height: 46px;
}

/* banner_01 */
.banner_01 {
  cursor: pointer;
  box-sizing: border-box;
  height: 200px;
  position: relative;
}

.banner_01 .banner_bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: #f1f476;
}

.banner_01 .container {
<<<<<<< HEAD
}

.banner_01 a {
  position: relative;
=======
  position: relative;
}

.banner_01 a {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
>>>>>>> bdb048dedef170967e400135f21a0fb0a9809425
}

.banner_01 img {
  display: block;
  width: 100%;
}

/* sec_03 */

.sec_03 > ul,
.sec_04 > ul,
.sec_05 > ul {
  display: flex;
  justify-content: space-between;
}

.section img {
  width: 340px;
  height: 480px;
}

.sec_03 > ul > li {
  position: relative;
}

.img_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.2s;
}

.img_hover:hover {
  opacity: 1;
}

.img_hover h4 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.img_hover p {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
}

/* sec_04 */

/* sec_05 */

/* banner_02 */
.banner_02 {
  cursor: pointer;
  min-height: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.banner02_text {
  color: var(--white);
  font-size: 50px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner_02 img {
  display: block;
  width: 25%;
  transform: translateX(8%);
}

/* mask_campain */

.mask_campain {
  min-height: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.mask_campain .mask_text {
  text-align: center;
  font-size: 54px;
  line-height: 2;
  font-family: "Nanum Myeongjo", serif;
  transform: translateX(50%);
}

.mask_campain p .text_bold {
  font-weight: 800;
}

.mask_campain p .red {
  color: red;
  font-weight: 800;
}

/* sec_06 */

/* .banner_03 */
.banner_03 {
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}
.banner_03 .banner_bg {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: #e07132;
}

.banner_03 .container {
}

.banner_03 a {
  position: relative;
}

.banner_03 img {
  display: block;
  width: 100%;
}

/* footer */

.footer {
  background: var(--perple);
}
.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .logo {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 18px;
  color: var(--violet);
  font-weight: 900;
}

.footer .sns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--perple);
  font-size: 30px;
  box-sizing: border-box;
}

.footer .sns li {
  width: 40px;
  height: 40px;
  background: var(--white);
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  margin: 100px 15px;
  box-sizing: border-box;
}

.copyright {
  color: var(--white);
  font-size: 12px;
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
  box-sizing: border-box;
}

/* gotop */
.go_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--violet);
  text-align: center;
  line-height: 60px;
  z-index: 10;
}

.go_top i {
  top: 36px;
  cursor: pointer;
}

/* 애니메이션 */

@keyframes scale {
  0% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes womanDirecter {
  0% {
    color: var(--white);
  }
  100% {
    color: #ffe600;
  }
}
